html,
body {
  /* padding:0 40px; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #ffffff;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

span{
  color: #01FFFF;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #F6F6F6;
  }
} */



/* Component Styles */

/* Navbar  */
.Navbar{
  /* background: cyan; */
  color: black;
  height: 100px;
  padding: 20px 99px;
  text-decoration: none;
  width: 100%;
}

.Navbar .Logo{
  font-size: 20px;
}


/* Home page  */
.playIcon{
  position: absolute;
  top: 22rem;
  right: 20rem;
  background-color: white;
  padding: 3px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.featured{
  background-image: url('../public/panels.png');
  filter: brightness(50%);
  height: 20rem;
}


/* .featured:before {
  content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
      opacity: .6; 
} */

/* .darktheme{
  background-color: rgba(0, 0, 0, 0.24);
  height: 19rem;
  position: relative;
  z-index: 1;
} */

.featuredplayIcon{
  position: absolute;
  top: 8rem;
  left: 33rem;
  background-color: white;
  padding: 3px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  z-index: 1;
}

/* .main{
  padding: 0 110px;
} */
.Section1{
  background-color: #F6F6F6;
  padding: 120px 110px;
  text-align: center;
}

.Section2{
  padding: 90px 110px;
}

.WhyBullets{
  margin-top: 8rem;
}

/* .HeaderText{
  text-align: left;
} */

.BlogplayIcon{
  position: absolute;
  background-color: white;
  padding: 3px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  left: 13.5rem;
  top: 7rem;
}

.arrow{
  border: 1px solid #D1D1D3;
  border-radius: 50%;
  padding: 10px;
  width: 35px;
  height: 35px;
}

@media (max-width: 720px) {
  .arrow{
    border: 1px solid #D1D1D3;
    border-radius: 50%;
    padding: 7px;
    width: 28px;
    height: 28px;
  }

 .Navbar{
  padding: 40px 0;
  width: 100%;
 }
 body{
  background-color: black;
 }

 .Section1{
  background-color: #F6F6F6;
  margin-top: 45rem;
  padding: 50px 20px;
  text-align: center;
}

.Section2{
  padding: 50px 18px;
}

.playIcon{
  position: absolute;
  top: 15rem;
  right: 43%;
  background-color: white;
  padding: 3px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.BlogplayIcon{
  position: absolute;
  background-color: white;
  padding: 3px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  left: 8.5rem;
  top: 4.5rem;
}

.featured{
  background-image: url('../public/Rectangle\ 1402.png');
  filter: brightness(50%);
  height: 15rem;
}


.featuredplayIcon{
  position: relative;
  top: 5rem;
  left: 7rem;
  background-color: white;
  padding: 3px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.WhyBullets{
  margin-top: 3rem;
}


}